.shortener-container {
    background-color: #191970;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .shortener-header {
    margin-bottom: 30px;
  }
  
  .shortener-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
 