

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  
  .login-content {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  

  .login-title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
  }
  
  
  .login-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    margin-bottom: 20px;
  }
  
 
  .login-text {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
  }
  
 
  .google-btn {
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .google-btn:hover {
    background-color: #357AE8;
  }
  
  .google-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  